:root {
    --verde-color: #0b462d; /* Verde oscuro principal */
    --verde_fino: #557c55;  /* Verde hoja suave */
    --leche: #f9f9f6;      /* Fondo hueso/arena claro */
    --text-color: #333333;
}


body{
    background-image: url(/img/fondos/3bdd257342223993eabae3ce369e500a.jpg);
    background-size: cover;

}

/* Centrado total de la interfaz */
.flex-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

/* El cuadro centralizado */
#cuadro-novo {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

/* Estilos para los IDs específicos */
#nombre, #contraseña, #teléfono {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

#btn-acceder {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32; /* Verde Natural Novo [2] */
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}