
:root {
    --verde-color: #0b462d; 
    --verde_fino: #557c55;  
    --leche: #f9f9f6;      
    --text-color: #333333;
    --white: #ffffff;
}


header {
    
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: var(--verde-color);
    list-style: none;
    color: var(--white);
}



body{
     background-color: var(--leche);
     color: var(--text-color);
     background-image: url(/img/fondos/97ae679d3797279c3b4ceec31464247f.jpg);
     background-size: cover;
     justify-content: center;
     align-items: center;
     
}
       


.btn {
  background-color: var(--verde_fino);
  padding: 30px;
  border-radius: 5px;
  margin-top: 0;             /* Ya no necesitas margen superior */
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.btn:hover{
    cursor: pointer;
    background-color:grey;
}


dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h3 { 
  margin: 0; 
}

#closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.input-group {
  margin-bottom: 12px;
}

.input-group label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  background-color:var(--verde-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}


.btn{
    background-color:var(--verde_fino);
    padding:30px;
    border-radius: 5px;
   margin-top: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
   
}
